<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savics</title>

    <style>
        ul{
            list-style: none;
            box-sizing: border-box;
            margin: auto 10%;
            box-shadow: 3px 5px 5px -1px rgba(0,0,0,0.41);
            padding: 10px;
        }

        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            margin: auto 10%;
        }

        .center{
            text-align: center;
        }

        form{
            margin: auto 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="center">Medical records</h2>
        <a href="/">Go Back</a>

        <form action="/records" method="GET">
            <label for="">Filter by age</label>
            <select name="age" id="age">
                <option value="under_18">Under 18</option>
                <option value="over_18">18 +</option>
            </select>

            <input type="submit" value="Filter">
        </form>
    <ul>
        <%if(records.length!==0){ %>
            <% records.forEach(record=>{ %>

                <li>
                    <h2>Record No. <%=record.id%></h2>
                    <div class="user">
                        <h5>User: <%= record.user.first_name %> <%=record.user.last_name%></h5>
                        <p>Age: <%=record.user.age%></p>
                    </div>
    
                    <h6>Record</h6>
    
                    <p>Title: <%=record.title%></p>
                    <p>Description: <%=record.description%></p>
                    <% if(record.has_coronavirus){ %>
                       <strong>Exception:</strong> <i>Has Coronavirus</i>
                   <% } %>
    
                </li>
    
           <% }) %>
        <%} else { %>

            <p>No records yet</p>

       <% }%>
        
    </ul>
    </div>
</body>
</html>